@import "tailwindcss";

:root {
  --background: #ddd;
  --foreground: #293a52;

  --saved-card-active-border: #0088FF;
  --saved-card-name-fg: #293a52;
  --saved-card-number-fg: #5b6167;
  --saved-card-bank-fg: #5b6167;
  --saved-card-expiry-fg: #8c1943;
}

@theme inline {
  --font-poppins: var(--font-poppins);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-saved-card-name-fg: var(--saved-card-name-fg);
  --color-saved-card-number-fg: var(--saved-card-number-fg);
  --color-saved-card-bank-fg: var(--saved-card-bank-fg);
  --color-saved-card-expiry-fg: var(--saved-card-expiry-fg);
  --color-saved-card-active-border: var(--saved-card-active-border);
}

body {
  color: var(--foreground);
  background: var(--background);
}
